.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  color: black;

  header {
    background-color: black;
    color: salmon;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0px;
    text-align: center;

    h1 {
      font-style: italic;
      font-weight: bold;
    }

    .pageNavi {
      background-color: salmon;
      color: black;
      position: absolute;
      width: 100%;

      p {
        display: inline-block;
        margin-left: 5em;
        margin-right: 5em;
      }
    }

    #darkModeSales {
      position: absolute;
      background-color: ivory;
      color: black;
      border: 3px solid black;
      z-index: 5;
      right: 3em;
      top: 2.2em;
    }
  }

  main {
    margin-top: 10%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    fieldset {  
      margin: 0;
      padding: 0;
      div {
        display: inline-block;
      }
    }

    table {
      margin: 3% auto auto auto;
      border-collapse: collapse;
      
      th {
        background-color: #ccc;
      }

      td, th {
        margin: 0;
        border: 2px solid black;
        padding: 0.5em;
      
      }
    }
  }

  #cookieStandForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #cookieStandForm label {
    margin: 5px;
  }
  
  #cookieStandForm input,
  #cookieStandForm button {
    margin: 5px;
    width: 200px;
  }
  
  #cookieStandForm button {
    margin-top: 10px;
  }
  
  @media (max-width: 600px) {
    #cookieStandForm input,
    #cookieStandForm button {
      width: calc(50% - 10px);
    }
  }

  footer {
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 0px;
    text-align: center;
    
    p {
      margin: 5em, auto;
    }
  }
}
